.list-main {
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-main-center {
  height: 40%;
  width: 50%;
  background-color: #ffd900;
  border-radius: 30px;
  overflow: scroll;
}

.not-user {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 20%;
  color: red;
}

.list_mn {
  height: 50px;
  width: 300px;
  background-color: orange;
  border-radius: 10px;
  display: flex;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
}