<div class="card">
  <%= link_to image_tag(item.image, class: :card__img ), item_path(item)%>
  <div class="card__body">
    <%= link_to item.cook_name, item_path(item), class: :card__title%>
    <p class="card__summary">
      <%= link_to item.country %>
    </p>
    <%= link_to item.user.nickname, user_path(item.user_id), class: :card__user %>
  </div>
</div>