/* 商品の概要 */

.item-show {
  background-color: #ffd900;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.item-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: #fff;
  object-fit: contain;
}

.item-btn {
  margin-top: 10px;
  border: 2px solid #ff701e;
  border-radius: 60px;
  color: black;
  display: block;
  font-weight: bold;
  width: 300px;
  padding: 15px 40px;
  text-align: center;
  background: #fff;
  overflow: hidden;
  position: relative;
  transition-duration: .4s;
  z-index: 2;
}

.item-btn::after {
  background: #ff701e;
  border-radius: 50%;
  content: "";
  display: block;
  margin: auto;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 100%;
  height: 0;
  z-index: -1;
  transform: translateY(-50%) scale(0.1);
  transition: opacity .5s, transform 0s;
  transition-delay: 0s, .4s;
}

.item-btn:hover {
  color: #fff;
}

.item-btn:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
  transition-delay: 0s;
  transition: opacity .8s, transform .6s ease-in-out;
}


.or-text {
  font-size: 20px;
}

.item-destroy {
  border: 2px solid lightgray;
  border-radius: 60px;
  display: block;
  font-weight: bold;
  width: 300px;
  padding: 15px 40px;
  text-align: center;
  background: #fff;
  color: black;
  overflow: hidden;
  position: relative;
  transition-duration: .4s;
  z-index: 2;
}

.item-destroy::after {
  background: lightgray;
  border-radius: 50%;
  content: "";
  display: block;
  margin: auto;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 100%;
  height: 0;
  z-index: -1;
  transform: translateY(-50%) scale(0.1);
  transition: opacity .5s, transform 0s;
  transition-delay: 0s, .4s;
}

.item-destroy:hover {
  color: #fff;
}

.item-destroy:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
  transition-delay: 0s;
  transition: opacity .8s, transform .6s ease-in-out;
}

.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
  overflow-wrap: anywhere;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.detail-value-name {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
  text-decoration: underline;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
  border-radius: 15px;
}

.comment_text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.form__btn {
  line-height: 48px;
  background-color: #ffd900;
  border: 1px solid #fff;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #ea352d;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}

.comments_list {
  text-align: center;
  background-color: #ffb340;
  border-radius: 20px 20px 0 0;
}

.comments_lists {
  height: calc(20vh - 20px);
  overflow: scroll;
  border-radius: 10px;
  background-color: #ffd900;
  margin-bottom: 30px;
  margin-top: 30px;
}

.comments_list2 {
  max-width: 100vh;
  min-width: 30vh;
  text-align: center;
  background-color: #ffb340;
  border-radius: 0 0 20px 20px;
  margin-bottom: 10px;
}